Options All -Indexes

RewriteEngine On

# Rewrite URL Games
RewriteRule ^adarkroom/(.*)$ gamelib/adarkroom/$1 [L]
RewriteRule ^2048/(.*)$ gamelib/2048/$1 [L]
RewriteRule ^0hh1/(.*)$ gamelib/0hh1/$1 [L]
RewriteRule ^hextris/(.*)$ gamelib/hextris/$1 [L]

# Rewrite URL Gambar
RewriteRule ^adarkroom.jpg$ images/games/adarkroom.jpg$1 [L]
RewriteRule ^2048.jpg$ images/games/2048.jpg$1 [L]
RewriteRule ^0hh1.jpg$ images/games/0hh1.jpg$1 [L]
RewriteRule ^hextris.jpg$ images/games/hextris.jpg$1 [L]